<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style2.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    {{! roboto font styles }}
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    /> 
    {{! i lato font styles }}
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700&display=swap"
      rel="stylesheet"
    /> 

    {{! import futura font }}
    <link
      href="https://fonts.googleapis.com/css?family=Futura:300,400,500,700&display=swap"
      rel="stylesheet"
    />

  </head>

  <body>
      <header>
        <div class="header-container">
          <img src="/img/Imagine-Ai-Logo.png" alt="logo" class="logo" />
          <h1 class="site-title">
            <a href="/">Imagine
              <span>Ai</span></a>
          </h1>
        </div>
      </header>
      <nav>
        {{#if loggedIn}}
          <a href="/dashboard">
            <i class="fa-solid fa-table-columns"></i></a>
          
          <a href="/gallery">
            <i class="fa-solid fa-images"></i>
          </a>

          <i id="logout-2"class="fa-solid fa-right-from-bracket">
          <button id="logout" class="btn-no-style"></button>
          </i>

        {{else}}
          <a href="/login"><i
              class="fa-solid fa-arrow-right-to-bracket"
            ></i></a>

          <a href="/gallery">
            <i class="fa-solid fa-images"></i>

          </a>

        {{/if}}
      </nav>

      <main>
        {{{body}}}
      </main>
      <footer>
        <div class="footer-container">
        <h2>Thanks for visiting!</h2>
        </div>
      </footer>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>