<section class="new-post">
  <h2>Create New Post</h2>

  <form class="new-post-form w-full max-w-sm">
    <div class="flex items-center border-b border-teal-500 py-2">
      {{!-- <label for="post-title">Title</label> --}}
      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Enter post title" id="post-title" name="post-title" />
    </div>
    <div class="flex items-center border-b border-teal-500 py-2">
      
      <input  class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" id="post-url" placeholder="Enter post url" name="post-url" />
    </div>
    <button class="create flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">Create</button>
  </form>

  {{!-- <form class="w-full max-w-sm">
  <div class="flex items-center border-b border-teal-500 py-2">
    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Jane Doe" aria-label="Full name">
    <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
      Sign Up
    </button>
    
  </div>
</form> --}}

  <form class="image-prompt-form w-full max-w-sm">
     <div class="flex items-center border-b border-teal-500 py-2">
    
    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" id="image-prompt" placeholder="Enter prompt"name="image-prompt" />
    <button type="submit" class="Gen-btn">Generate</button>
    </div>  
  </form>


    
  
  {{!-- <form class="share-image-form">
    <input id="image-input" type="file" name="file" accept="image/png, image/jpg">
    <button type="submit" class="btn">Upload</button>
  </form> --}}

  {{!-- <div id="display-image"></div> --}}
  {{!-- {{#if previewSource}}
    <img src={previewSource} />
  {{/if}} --}}
{{!-- if user choose image file show preview state below --}}
 
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/text-to-image.js"></script>

{{!-- <script src="/javascript/share-image.js"></script> --}}