<div class="wrap-login">
  <form class="login-form">

    <span class="login-form-title">Welcome</span>
    
    <div class="form-input">
    <input placeholder="email"class="input " type="text" id="email-login" />
    </div>
    
    <div class="form-input">
    <input placeholder="password" class="input" type="password" id="password-login" />
    </div>


    <button id="login-button" type="submit" class="login-form-btn">Login</button>

    <a id="go-to-signup" href="/signup"> Sign Up </a>


  </form>
</div>

  <script src="/javascript/login.js"></script>





