
<div class="container-login">
  <div class="wrap-login">
    <form class="login-form">
      
        <span class="login-form-title">Welcome</span>
        
        <div class="wrap-input">
        
        <input class="input "type="text" id="email-login" />
        <span class="focus-input" data-placeholder="Email"></span>
      </div>

        
        <div class="wrap-input">
          <span class="btn-show-pass">
              </span>
        <input class="input" type="password" id="password-login" />
        <span class="focus-input"
        data-placeholder="Password"></span>
      </div>


      <div class="container-login-form-btn">
              <div class="wrap-login-form-btn">
                <div class="login-form-bgbtn"></div>
                <button type="submit" class="login-form-btn">Login</button>
                
              </div>
            </div>
    <a class="txt2" href="/signup"> Sign Up </a>
            </div>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>


