<div class="wrap-login">
  <form class="login-form">

    <span class="login-form-title">Welcome</span>

    <div class="form-input">
    <input placeholder="username"class="input " type="text" id="username-signup" />
    </div>
    
    <div class="form-input">
    <input placeholder="email"class="input " type="text" id="email-signup" />
    </div>
    
    <div class="form-input">
    <input placeholder="password" class="input" type="password" id="password-signup" />
    </div>


    <button id="login-button" type="submit" class="login-form-btn">submit</button>

    <a id="go-to-login" href="/login"> login instead </a>


  </form>
</div>

</div>




<script src="/javascript/signup.js"></script>