:root {
  --shadow-color: 88deg 17% 69%;
  --shadow-elevation-low: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.45),
    0.3px 0.7px 0.7px -2.1px hsl(var(--shadow-color) / 0.32),
    0.9px 1.8px 1.7px -4.3px hsl(var(--shadow-color) / 0.2);
  --shadow-elevation-medium: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.47),
    0.5px 1px 1px -1.4px hsl(var(--shadow-color) / 0.37),
    1.6px 3.2px 3.1px -2.9px hsl(var(--shadow-color) / 0.27),
    4.4px 8.8px 8.4px -4.3px hsl(var(--shadow-color) / 0.17);
  --shadow-elevation-high: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.43),
    0.5px 1.1px 1px -0.6px hsl(var(--shadow-color) / 0.39),
    1.1px 2.2px 2.1px -1.2px hsl(var(--shadow-color) / 0.34),
    2.2px 4.4px 4.2px -1.8px hsl(var(--shadow-color) / 0.3),
    4.2px 8.5px 8.1px -2.5px hsl(var(--shadow-color) / 0.25),
    7.5px 15px 14.3px -3.1px hsl(var(--shadow-color) / 0.21),
    12.3px 24.6px 23.5px -3.7px hsl(var(--shadow-color) / 0.16),
    19px 38px 36.3px -4.3px hsl(var(--shadow-color) / 0.12);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  color: #333;
  background: #f6fbf0;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #f6fbf0;
}

/* header */

header {
  display: inline-flex;
  justify-content: center;
  
  align-items: center;
  margin-top: 2%;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #a8a282;
}

header h1 a {
  color: #a8a282;
  text-decoration: none;
}

.logo {
  width: 5vw;
  height: 7vh;
  border-radius: 15%;
  margin-right: 10px;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}

nav a i, nav button i {
  font-size: 1.5rem;
  color: #a8a282;
}

nav a, #logout {
  text-decoration: none;
  color: #a8a282;
  font-weight: bold;
  transition: color 0.1s;
}

nav a:hover, header h1 a:hover {
  color: #a8a282;;
}


/* header { */
  /* border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; */
  /* background: #e9f5df;
  display: flex;
  justify-content: space-evenly;
  align-items: center; */
  /* position: absolute; */
/* } */

/* header h1 {
  font-size: 1em;
  font-weight: bold;
  font-family: "Lato";
}

header a { */
  /* font-size: 1em;
  color: black;
  text-decoration: none;
  transition: color 0.1s;
  font-family: 'Lato'; */
  /* text-decoration: none;
  font-size: 1.3em;
  color: #a8a282;
}

header a:active {
  color: #b1c18f;
  animation-duration: 0.7s;
} */

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}


/* .new-post-form input {
  width: 300px;
} */
/* create post form */

/* Dashboard */
#display-image{
  width: 400px;
  height: 225px;
 /* center in middle of screen */
  margin: 10px auto;
  display: block;
  border: #333 solid 1px;
  background-position: center;
  background-size: cover;

}

.new-post h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Lato";
  /* width: 100%; */
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
}

.new-post-form {
  position: relative;
  justify-content: start;
  
  margin: 50px auto; ;
}


.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-family: "Lato";
}
