/* Blog



.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 8px 0 8px;
  color: #a8a282;
  text-decoration: none;
}

.title a {
  color: #a8a282;
  text-decoration: none;
}

.blog-details {
  line-height: 1.5;
  margin: 14px 0;
  color: #81896f;
}

.blog-details a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
} */

/* p {
     line-height: 1.5;
     margin: 14px 0;
    } */

/* Login Form */

/* .container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px; */


/* .wrap-login {
  width: 390px;
  background: #fcfcfc;
  border-radius: 5px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;

  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  transition: all 0.4s;
}

.input:focus + .focus-input::after {
  top: -15px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::after {
  top: -15px;
}

.has-val.input + .focus-input::before {
  width: 100%;
}

.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
}

.btn-show-pass.active {
  color: #6a7dfe;
}

.login-form {
  width: 100%;
}

.login-form p {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

.login-form input {
  outline: none;
  border: none;
}

.login-form-title {
  display: block;
  font-family: "Roboto";
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
} */

/*  Button  */
/* 
.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login-form-btn {
  width: 100px;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #6a7dfe;
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;
  transition: all 0.4s;
}

.login-form-btn {
  font-family: "Roboto";
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 30px;
} */
/* 
.wrap-login-form-btn:hover .login-form-bgbtn {
  left: 0;
} */
/* 
button {
  outline: none;
  border: none;
}

button:hover {
  background: none;
} */

/* .txt2 {
  font-family: "Roboto";
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}

.txt2:hover {
  color: rgba(0, 0, 0, 0.9);
} */

/* GALLERY */

/* .gallery-title { */
  /* titleis ontop of page */
  /* position: absolute;
  top:;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #c7be8e;
  text-align: center;
  margin-bottom: 30px; */
 /* set above container  */
 /* display: block;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #c7be8e;
  text-align: center;
  margin-bottom: 30px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px; */
  /* background: #f2f2f2; */
/* }

.gallery-image {
  width: 500px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
} */
