:root {
  --primary-dark: #05386b;
  --primary-light: #379683;
  --bgc-main-dark: #5cdb95;
  --bgc-main-light: #8ee4af;
  --secondary-light: #edf5e1;
}

html {
  background-color: var(--bgc-main-dark);
}

.wrapper {
  width: 100%;
  height: 100%;
}

/* HEADER */

header {
  padding: 10px;
  border-radius: 1px;

  margin-bottom: 20px;
}

.site-title a {
  color: var(--primary-dark);
  font-family: "futura";
  text-decoration: none;
  font-size: 1.5em;
}

.site-title span {
  color: var(--secondary-light);
  font-size: 0.8em;
}

.site-title a:hover {
  color: var(--primary-light);
}

.header-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
}

.logo {
  width: 30vh;
  height: 30vh;
  background-color: #f5f5f5;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* NAV  */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

nav i {
  font-size: 1.5em;
  color: var(--primary-dark);
}
nav i:hover {
  color: var(--primary-light);
}

#logout {
  display: none;
}

#logout:hover {
  color: var(--primary-light);
  cursor: pointer;
}

#logout-2:hover {
  cursor: pointer;
}


/* LOGIN FORM  */
.login-form-title {
  display: block;
  font-family: "lato";
  font-size: 30px;
  color: var(--secondary-light);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
.wrap-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

#email-login {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 60%;
}

#password-login {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 60%;
}

input::placeholder {
  color: var(--primary-dark);
  font-size: 0.8em;
  text-align: start;
}

#login-button {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  font-family: "lato";
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

#login-button:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  cursor: pointer;
}

#go-to-signup {
  color: whitesmoke;
  font-family: "lato";
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

#go-to-signup:hover {
  color: var(--primary-dark);
  cursor: pointer;
}

/* SIGN UP */
#username-signup {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 60%;
}

#email-signup {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 60%;
}

#password-signup {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 60%;
}

#go-to-login {
  color: whitesmoke;
  font-family: "lato";
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

#go-to-login:hover {
  color: var(--primary-dark);
  cursor: pointer;
}

/* DASHBOARD START */
.new-post-form {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

.new-post h2 {
  font-family: "lato";
  font-size: 1.5em;
  color: var(--secondary-light);
  margin: 10px auto 0 auto;
  text-align: center;
}

.new-post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#post-title {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 70%;
  height: 60%;
}

#post-url {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 70%;
  height: 60%;
}

.create {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  font-family: "lato";
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.create:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  cursor: pointer;
}
.image-prompt-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}

#image-prompt {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 60%;
}

/* POST  */
#your-post-title {
  font-family: "lato";
  font-size: 1.5em;
  color: var(--secondary-light);
  margin: 10px auto 0 auto;
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li,
.blog-post {
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  width: 90%;
  font-family: "lato";
  font-size: 1.2em;
  text-decoration: none;
  margin: 20px auto;
  border: #05386b 1px solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}

.blog-article a {
  text-decoration: none;
  color: var(--secondary-light);
  margin:10px 10px 0 10px;
}

.blog-article span {
  font-family: "lato";
  font-size: 0.8em;
  color: var(--secondary-light);
  margin: 10px auto 0 5px;
  text-align: center;
  color: rgb(245, 245, 131);
}

.blog-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 0 auto;
  padding: 1%;
}

.edit-link {
  color: var(--secondary-light);
  font-family: "lato";
  font-size: 0.6em;
  text-decoration: none;
  margin-right: 20px;
}

.edit-link:hover {
  color: var(--primary-dark);
  cursor: pointer;
}

#dash {
  color: var(--secondary-light);
  font-family: "lato";
  font-size: 0.7em;
  text-decoration: none;
  margin-right: 20px;
}

#dash:hover {
  color: var(--primary-dark);
  cursor: pointer;
}


/* EDIT POST */
article a{
  text-decoration: none;
  color: var(--secondary-light);
  margin:10px 10px 0 10px;
}
article a:hover{
  color: var(--primary-dark);

}
article h2{
  font-family: "lato";
  font-size: 1.5em;
  color: var(--secondary-light);
  margin: 10px auto 0 auto;
  text-align: center;
}
.edit-post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

form span {
  font-family: "lato";
  font-size: 0.8em;
  color: var(--secondary-light);
  margin: 10px auto 0 auto;
  text-align: center;
}

.edit-post-form a {
  text-decoration: none;
  color: var(--secondary-light);
  margin:10px 10px 0 10px;
}
.edit-post-form a:hover {
  color: var(--primary-dark);
  cursor: pointer;
}
#save-post, #delete-post, #add-comment {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  font-family: "lato";
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}
#save-post:hover, #delete-post:hover,
#add-comment:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  cursor: pointer;
}

#text-body{
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 70%;
  height: 40%;
}
#loading {
  font-family: "lato";
  font-size: 1.2em;
  color: var(--secondary-light);
  margin: 10px auto 0 auto;
  text-align: center;
}

/* DASHBOARD END */


/* GALLERY */

.gallery-image {
  width: 100%;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto;
  border: #05386b 1px solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}
img {
  width: 100%;
  height: auto;
}

/* FOOTER  */
.footer-container {
  color: var(--secondary-light);
  font-family: "lato";
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  height: 6vw;
}

footer h2 {
  font-family: "lato";
  font-size: 1.2em;
  color: var(--secondary-light);
  margin: 10px auto 0 auto;
  }